body {
    margin: 20px auto;
    font-family: 'Indie Flower', cursive;
    background: #666;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    font-family: 'Reenie Beanie', cursive;
    font-size: 2rem;
}

ul,
li {
    list-style: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li div {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    text-align: center;
    padding: 2em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;

}

ul li:nth-child(even) div {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

ul li:nth-child(3n) div {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

ul li:nth-child(5n) div {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul li div:hover {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

ul li {
    margin: 1em;
}